:root {
    --corBackground: #ffffff;
    --corLogo: #ea580c;
    --text: #333333;
    --text-muted: #78716c;
    --border: #e7e5e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;

    background-color: var(--corBackground);
}

.container {
    width: min(100%, 1200px);
    margin-inline: auto;
}

body > header {
    background-color: var(--corBackground);
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .brand {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            height: 3rem;
        }

        h1 {
            color: var(--corLogo);
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 1.05rem;
            letter-spacing: -0.5px;
        }

        p {
            margin-top: 2px;
            font-size: 0.8rem;
            color: var(--text-muted);
        }

    }

    .cart-button {
        img {
            width: 1.25rem;
            height: 1.25rem;
        }

        border: 1px solid var(--border);
        display: flex;
        width: 2.75rem;
        height: 2.75rem;
        align-items: center;   
        justify-content: center;
        border-radius: 0.75rem;
    }
}

body > nav {
    background-color: var(--corBackground);

    ul{
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-block: 1rem;

        a{
            border: 1px solid var(--border);
            border-radius: 1rem;
            padding: 0.5rem 1rem;

            text-decoration: none;
            color: var(--text-muted);
            font-size: 0.875rem;
            font-weight: 500;
            

            
            &:not(.active):hover{
                color: var(--corLogo);
                border-color: var(--corLogo);
            }
            &.active{
                color: white;
                border-color: var(--corLogo);
                background-color: var(--corLogo);
            }
        }
    }
}

body > footer {
    background-color: var(--text-muted);
    color: var(--corBackground);
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 2rem;
    padding-block: 1.5rem;

    .container{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}